<div class="page-background" style="background-image: url('assets/img/mine.png');">

  <!-- PRECIOS DE LLAVES -->
  <div class="precios-container">

    <h1 class="promo-title">🔥 PROMOCIÓN ESPECIAL 🔥</h1>
    <h2 class="promo-sub">¡Compra más de 5 llaves y te llevas 1 GRATIS! 🎁</h2>

    <h1 class="title-main">🔑 Precios de Llaves del Servidor 🔑</h1>

    <ul>
      <li data-precio="$800">👾 Llave Evento</li>
      <li data-precio="$500">🧸 Llave Peluches Starter Pack</li>
      <li data-precio="$800">🧸 Llave Peluches Rotativa</li>
      <li data-precio="$500">⚡ Llave Pokemon Inicial</li>
      <li data-precio="$700">⚡ Llave Pokémon Rotativa</li>
      <li data-precio="$500">🎁 Llave Funko 1ra edición</li>
      <li data-precio="$700">🎁 Llave Funko 2da edición</li>
      <li data-precio="$1000">🎁 Llave Funko premium</li>
      <li data-precio="$500">🔑 Llave colección cartas Starter Pack</li>
      <li data-precio="$800">🔑 Llave colección cartas Ed Wonderful World</li>
    </ul>

  </div>

  <!-- PRECIOS DE SETS DE SKINS -->
  <div class="precios-container">
    <h1>🎨 Sets de Skins Lategame</h1>

    <ul>
      <li data-precio="$6000">Set Abeja (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$5000">Set Ender Dragon (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$3500">Set Wither (Armas, Herramientas)</li>
      <li data-precio="$4500">Set Lunar Dragon (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$6000">Set Luminite (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$6000">Set Soul Skull (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$4500">Set Necros (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$7000">Set Dark Wither (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$2500 c/u">Armadura Star Wars + Peluche Stormtrooper</li>
    </ul>
  </div>

</div>
