<div class="page-background" style="background-image: url('assets/img/mine.png');">

  <!-- PRECIOS DE LLAVES -->
  <div class="precios-container">

    <h1 class="promo-title">🔥 PROMOCIÓN ESPECIAL 🔥</h1>
    <h2 class="promo-sub">¡Compra 5 llaves/Kuri Coin o más y te llevas 1 GRATIS! 🎁</h2>

    <h1 class="title-main">🔑 Precios de Llaves del Servidor 🔑</h1>

    <ul>
      <li data-precio="$500">👾 Llave Evento</li>
      <li data-precio="$500">🪙 Kuri-Coin</li>
    </ul>

  </div>

  <!-- PRECIOS DE SETS DE SKINS -->
  <div class="precios-container">
    <h1>🎨 Sets de Skins Lategame</h1>

    <ul>
      <li data-precio="$6000">Set Abeja (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$5000">Set Ender Dragon (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$3500">Set Wither (Armas, Herramientas)</li>
      <li data-precio="$4500">Set Lunar Dragon (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$6000">Set Luminite (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$6000">Set Soul Skull (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$4500">Set Necros (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$7000">Set Dark Wither (Armas, Herramientas, alas y cabeza)</li>
      <li data-precio="$2500 c/u">Armadura Star Wars + Peluche Stormtrooper</li>
    </ul>
  </div>

</div>
