<div class="page-background" style="background-image: url('assets/img/mine.png');">
  <!-- PRECIOS DE LLAVES -->
<div class="precios-container">

  <h1 class="promo-title">🔥 PROMOCIÓN ESPECIAL 🔥</h1>
  <h2 class="promo-sub">¡Compra más de 5 llaves y te llevas **1 GRATIS**! 🎁</h2>

  <h1 class="title-main">🔑 Precios de Llaves del Servidor 🔑</h1>

  <ul>
    <li>👾 Llave Evento — $800</li>
    <li>🧸 Llave Peluches Starter Pack — $500</li>
    <li>🧸 Llave Peluches Rotativa— $800</li>
    <li>⚡ Llave Pokemon Inicial — $500</li>
    <li>⚡ Llave Pokémon Rotativa — $700</li>
    <li>🎁 Llave Funko 1ra edición — $500</li>
    <li>🎁 Llave Funko 2da edición — $700</li>
    <li>🎁 Llave Funko premium — $1000</li>
    <li>🔑 Llave colección cartas Starter Pack — $500</li>
    <li>🔑 Llave colección cartas Ed Wonderful World — $800</li>
  </ul>

</div>

<!-- PRECIOS DE SETS DE SKINS -->
<div class="precios-container">
  <h1>🎨 Sets de Skins Lategame</h1>

  <ul>
    <li> Set Abeja (Armas, Herramientas, alas y cabeza) — $6000</li>
    <li> Set Ender Dragon (Armas, Herramientas, alas y cabeza) — $5000</li>
    <li> Set Wither (Armas, Herramientas) — $3500</li>
    <li> Set Lunar Dragon (Armas, Herramientas, alas y cabeza) — $4500</li>
    <li> Set Luminite (Armas, Herramientas, alas y cabeza)  — $6000</li>
    <li> Set Soul Skull (Armas, Herramientas, alas y cabeza) $6000</li>
    <li> Set Necros (Armas, Herramientas, alas y cabeza) $4500 </li>
    <li> Set Dark Wither (Armas, Herramientas, alas y cabeza) $7000 </li>
    <li> Armadura Star Wars (stormtrooper, 501st o Capitán Rex) + Peluche Stormtrooper — $2500 c/u </li>
  </ul>
</div>

<!-- PRECIOS DE OTRAS COSAS (si quieres agregar después) -->
<!--
<div class="precios-container">
  <h1>✨ Otros Cosméticos</h1>

  <ul>
    <li>🐾 Mascota Mini Zombie — $3.000</li>
    <li>🪽 Aura Angel — $2.500</li>
    <li>🔥 Partículas Fuego — $2.000</li>
  </ul>
</div>
-->
</div>


